<div class="footer">
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid Newsletter">
					<h3>News letter </h3>
					<p>If you wish to get updates from us, please use the form below to subscribe</p>
					<form>
						<input type="text" placeholder="Subscribes.."> <input type="submit" value="GO">
					</form>
				</div>
				<div class="footer-grid Newsletter">
					<h3>Latest News </h3>
					<div class="news">
						<div class="news-pic">
							<img class = "poza-footer" src="public/system/assets/img/f01.jpg" title="news-pic1"> 
						</div>
						<div class="news-info">
							<a href="#/oferte">Special offers - view the latest offers from our hotel</a>
							<span>June 10, 2014 - 9:11 pm</span>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="news">
						<div class="news-pic">
							<img class = "poza-footer" src="public/system/assets/img/f01.jpg" title="news-pic1"> 
						</div>
						<div class="news-info">
							<a href="#/leagues">Accomodation - view the rooms</a>
							<span>June 10, 2014 - 9:11 pm</span>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="footer-grid tags">
					<h3>Tags</h3>
					<ul>
						<li><a href="#">Admin Login</a></li>
						<li><a href="#">Customer Login</a></li>
						<li><a href="#">Not a Member?</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Oferte Speciale</a></li>
						<li><a href="#">Bookings</a></li>
						<li><a href="#">Rooms</a></li>
						<li><a href="#">Accomodation</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="footer-grid address">
					<h3>Address </h3>
					<div class="address-info">
						<span>Romania, Constanta </span>
						<span>Agigea, str. Ion Corvin, nr. 7</span>
						<span><i>E-mail:</i><a href="mailto:moin@blindtextgenerator.de">proiectTWnelo@gmail.com</a></span>
					</div>
					<div class="footer-social-icons">
						<ul>
							<li><a class="face1 simptip-position-bottom simptip-movable" data-tooltip="facebook" href="https://www.facebook.com/people/Proiecttw-Nelo/100005548337377"><span> </span></a></li>
							<li><a class="twit1 simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"><span> </span></a></li>
							<li><a class="tub1 simptip-position-bottom simptip-movable" data-tooltip="tumblr" href="#"><span> </span></a></li>
							<li><a class="pin1 simptip-position-bottom simptip-movable" data-tooltip="pinterest" href="#"><span> </span></a></li>
							<li><a class="git1 simptip-position-bottom simptip-movable" data-tooltip="github" href="https://github.com/vepere/NeloTW"><span> </span></a></li>
							<div class="clear"> </div>
						</ul>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
		</div>